<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'password_reset.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'password_main.css') }}">
	<title>Formulario</title>
</head>
<body>

	<div class="container">
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>		
		<form class="form__reg" action='/registrarse/obtener_datos' method="POST">
			<input class="input" name = "Nombre" type="text" placeholder="&#128100;  Nombre" required autofocus>
            <input class="input" name = "Email" type="email" placeholder="&#9993;  Email" required>
            <input class="input" name = "Contraseña" type="text" placeholder="&#128222;  Contraseña" required>
            <input class="input" name = "Direccion" type="text" placeholder="&#8962;  Dirección" required>
            <div class="btn__form">
            	<input class="btn__submit" type="submit" value="REGISTRAR">
            	<input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
		</form>
	</div>

</body>
</html>